<div class='squid-api-core-widgets-status'>
{{#if message}}
	<div class='status-error label label-warning'>{{message}}</div>
{{/if}}
{{#if errorMessage}}
	<div class='status-error label label-danger'>{{errorMessage}}<span class="badge">x</span></div>
{{/if}}
</div>
