<div class='squid-api-core-widgets-status'>
	<div class="status-error alert alert-{{{level}}} {{#if dismissible}}alert-dismissible{{/if}}">
		{{#if dismissible}}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{/if}}
		{{{message}}}
	</div>
</div>
